@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fcfcfc;
  font-family: 'Oswald', sans-serif;
}

.heart {
  color: red;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  height: auto;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 3rem;
}

.footer-content h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  margin-top: 30px;
  margin-bottom: 20px;

}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 30px 0px;

}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}
