@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



.menu{
    width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: auto;
    font-family: "Oswald" , sans-serif;
  }
  
.menu ul {
    list-style-type: none;
  }
  
.menu h1 {
    padding: 10px;
}