@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.App {
  font-family: 'Oswald', sans-serif;
}

.banner {
  display: flex;
  flex-direction: row;
  height: 600px;
  padding-left: 32px;
  background-color: black;
}

.banner .content {
  min-width: 270px;
  width: 100%;
  margin-top: 150px;
  margin-left: 100px;
  color: white;
}

.banner img {
  width: 50vw;
  object-fit: cover;
  clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0% 100%);
}

.banner h1 {
  font-size: 60px;
}

.banner h2 {
  font-size: 30px;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 190px;
  background-color: #c7bdb1  ;
}

.slogan h1 {
  font-size: 30px;
}

.us {
  display: flex;
  flex-direction: row;
  background-color: #ddd9d6  ;
  padding: 50px;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
}

.text-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.text-container h2 {
  font-size: 20px;
}

.text-container p {
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 100px ;
}
